project-00-setup/bacups/node-red_backup.json
[{"id":"bf0330af83ea3f94","type":"tab","label":"General MQTT Subscribe","disabled":false,"info":""},{"id":"98af01a4d1787702","type":"tab","label":"GPIO","disabled":false,"info":"","env":[]},{"id":"9a4bd1a24e47cdf3","type":"tab","label":"S7","disabled":false,"info":"","env":[]},{"id":"95ae5cf43e5e899f","type":"tab","label":"Ethernet/IP","disabled":false,"info":"","env":[]},{"id":"d06c03683c8f23dd","type":"tab","label":"Modbus","disabled":false,"info":"","env":[]},{"id":"f51036664c185fe8","type":"tab","label":"OPC","disabled":false,"info":"","env":[]},{"id":"7fbfccfedab8a01e","type":"mqtt-broker","name":"","broker":"mosquitto","port":1883,"tls":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"23e30bf397318a06","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d753327ed7cf430e","type":"ui_tab","name":"Siemens S7","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"cf5e957c60cfbda7","type":"ui_group","name":"Send data","tab":"d753327ed7cf430e","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"23f5c2f61a6c75aa","type":"ui_group","name":"Receive data","tab":"d753327ed7cf430e","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"7a2045bb89874ee6","type":"ui_tab","name":"Siemens OPC-UA","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"4d345fdd77f627d3","type":"ui_group","name":"Send data","tab":"7a2045bb89874ee6","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"123c5cc61dd7f41e","type":"ui_group","name":"Receive data","tab":"7a2045bb89874ee6","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"ebba31f219798749","type":"ui_tab","name":"Codesys Modbus","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e6e44d83bca2d737","type":"ui_group","name":"Send data","tab":"ebba31f219798749","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"ec11ae9b44af63d2","type":"ui_group","name":"Receive","tab":"ebba31f219798749","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"275aadc01b02555c","type":"ui_tab","name":"Rockwell Ethernet/IP","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b0b74a9fcca2bd40","type":"ui_group","name":"Send data","tab":"275aadc01b02555c","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"513e053bc5153690","type":"ui_group","name":"Receive data","tab":"275aadc01b02555c","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"07382869ae1710c0","type":"mqtt in","z":"bf0330af83ea3f94","name":"","topic":"#","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":115,"y":100,"wires":[["a8988c7460031371"]],"l":false},{"id":"a8988c7460031371","type":"debug","z":"bf0330af83ea3f94","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":100,"wires":[]},{"id":"362a681b7db79baf","type":"debug","z":"98af01a4d1787702","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":60,"wires":[]},{"id":"b025a19c3fe87302","type":"debug","z":"98af01a4d1787702","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":140,"wires":[]},{"id":"bca13b92402807a3","type":"mqtt in","z":"98af01a4d1787702","name":"","topic":"gpio/sensor","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":140,"wires":[["b025a19c3fe87302"]]},{"id":"da97e80828d655cd","type":"debug","z":"98af01a4d1787702","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":200,"wires":[]},{"id":"45877b33e98b31fa","type":"mqtt in","z":"98af01a4d1787702","name":"","topic":"gpio/button","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":200,"wires":[["da97e80828d655cd"]]},{"id":"b16d72485034c1e5","type":"mqtt in","z":"98af01a4d1787702","name":"","topic":"gpio/#","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":60,"wires":[["362a681b7db79baf"]]},{"id":"e8e937e64d0c180e","type":"ui_text_input","z":"9a4bd1a24e47cdf3","name":"","label":"Temperature setpoint","tooltip":"","group":"cf5e957c60cfbda7","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":160,"y":80,"wires":[["e39df9fa265e37f9"]]},{"id":"0a6cc3d131789071","type":"ui_button","z":"9a4bd1a24e47cdf3","name":"","group":"cf5e957c60cfbda7","order":2,"width":0,"height":0,"passthru":false,"label":"Start process","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":120,"wires":[["b3ecb76ff7747b84"]]},{"id":"e39df9fa265e37f9","type":"mqtt out","z":"9a4bd1a24e47cdf3","name":"","topic":"s7/setpoint","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fbfccfedab8a01e","x":450,"y":80,"wires":[]},{"id":"b3ecb76ff7747b84","type":"mqtt out","z":"9a4bd1a24e47cdf3","name":"","topic":"s7/start_command","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fbfccfedab8a01e","x":470,"y":120,"wires":[]},{"id":"6dd71beb4f75e8b1","type":"mqtt in","z":"9a4bd1a24e47cdf3","name":"","topic":"s7/status","qos":"0","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":300,"wires":[["9c5325b76f0d761d","43a8169f610c46cf"]]},{"id":"9c5325b76f0d761d","type":"ui_text","z":"9a4bd1a24e47cdf3","group":"23f5c2f61a6c75aa","order":1,"width":0,"height":0,"name":"","label":"Status: ","format":"{{msg.payload.value}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":440,"y":300,"wires":[]},{"id":"a38d99e864cb9c53","type":"mqtt in","z":"9a4bd1a24e47cdf3","name":"","topic":"s7/temperature","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":340,"wires":[["bdc0b95a7b8e4906"]]},{"id":"bdc0b95a7b8e4906","type":"ui_text","z":"9a4bd1a24e47cdf3","group":"23f5c2f61a6c75aa","order":2,"width":0,"height":0,"name":"","label":"Temperature: ","format":"{{msg.payload.value}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":450,"y":340,"wires":[]},{"id":"2f2b2d7638ffba0a","type":"mqtt in","z":"9a4bd1a24e47cdf3","name":"","topic":"s7/#","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":790,"y":80,"wires":[["118a012c953503a4"]]},{"id":"118a012c953503a4","type":"debug","z":"9a4bd1a24e47cdf3","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":80,"wires":[]},{"id":"43a8169f610c46cf","type":"debug","z":"9a4bd1a24e47cdf3","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":260,"wires":[]},{"id":"80a89113aa78c7ff","type":"ui_text_input","z":"95ae5cf43e5e899f","name":"","label":"Temperature setpoint","tooltip":"","group":"b0b74a9fcca2bd40","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":140,"y":60,"wires":[["df0941fbfb2a51cf"]]},{"id":"7831179397a0af7f","type":"ui_button","z":"95ae5cf43e5e899f","name":"","group":"b0b74a9fcca2bd40","order":2,"width":0,"height":0,"passthru":false,"label":"Start process","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":170,"y":100,"wires":[["accbc11f367b4fd3"]]},{"id":"df0941fbfb2a51cf","type":"mqtt out","z":"95ae5cf43e5e899f","name":"","topic":"ethernetip/setpoint","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fbfccfedab8a01e","x":450,"y":60,"wires":[]},{"id":"accbc11f367b4fd3","type":"mqtt out","z":"95ae5cf43e5e899f","name":"","topic":"ethernetip/start_command","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fbfccfedab8a01e","x":470,"y":100,"wires":[]},{"id":"9cc797da3dabe95e","type":"mqtt in","z":"95ae5cf43e5e899f","name":"","topic":"ethernetip/status","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":280,"wires":[["05cf504683e6f7bc"]]},{"id":"05cf504683e6f7bc","type":"ui_text","z":"95ae5cf43e5e899f","group":"513e053bc5153690","order":1,"width":0,"height":0,"name":"","label":"Status: ","format":"{{msg.payload.value}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":420,"y":280,"wires":[]},{"id":"6e0dbe66c6442c4a","type":"mqtt in","z":"95ae5cf43e5e899f","name":"","topic":"ethernetip/temperature","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":320,"wires":[["c0dccb4ff37cf994"]]},{"id":"c0dccb4ff37cf994","type":"ui_text","z":"95ae5cf43e5e899f","group":"513e053bc5153690","order":2,"width":0,"height":0,"name":"","label":"Temperature: ","format":"{{msg.payload.value}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":430,"y":320,"wires":[]},{"id":"f4b945dada3e9894","type":"mqtt in","z":"95ae5cf43e5e899f","name":"","topic":"ethernetip/#","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":770,"y":60,"wires":[["610f57b9b577ece6"]]},{"id":"610f57b9b577ece6","type":"debug","z":"95ae5cf43e5e899f","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":60,"wires":[]},{"id":"f0197d7f2e08d4ee","type":"ui_text_input","z":"d06c03683c8f23dd","name":"","label":"Temperature setpoint","tooltip":"","group":"e6e44d83bca2d737","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":160,"y":80,"wires":[["de405da8a6339871"]]},{"id":"469a303fb4f0ba80","type":"ui_button","z":"d06c03683c8f23dd","name":"","group":"e6e44d83bca2d737","order":2,"width":0,"height":0,"passthru":false,"label":"Start process","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":120,"wires":[["b6a4c5ee66575f73"]]},{"id":"de405da8a6339871","type":"mqtt out","z":"d06c03683c8f23dd","name":"","topic":"modbus/setpoint","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fbfccfedab8a01e","x":460,"y":80,"wires":[]},{"id":"b6a4c5ee66575f73","type":"mqtt out","z":"d06c03683c8f23dd","name":"","topic":"modbus/start_command","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fbfccfedab8a01e","x":490,"y":120,"wires":[]},{"id":"d986e4b889494629","type":"mqtt in","z":"d06c03683c8f23dd","name":"","topic":"modbus/status","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":300,"wires":[["f042e4f2fb5fa0bd"]]},{"id":"f042e4f2fb5fa0bd","type":"ui_text","z":"d06c03683c8f23dd","group":"ec11ae9b44af63d2","order":1,"width":0,"height":0,"name":"","label":"Status: ","format":"{{msg.payload.value}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":440,"y":300,"wires":[]},{"id":"3047fb4adca031ae","type":"mqtt in","z":"d06c03683c8f23dd","name":"","topic":"modbus/temperature","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":340,"wires":[["a166f58c10f9c853"]]},{"id":"a166f58c10f9c853","type":"ui_text","z":"d06c03683c8f23dd","group":"ec11ae9b44af63d2","order":2,"width":0,"height":0,"name":"","label":"Temperature: ","format":"{{msg.payload.value}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":450,"y":340,"wires":[]},{"id":"049fcb564f565374","type":"mqtt in","z":"d06c03683c8f23dd","name":"","topic":"modbus/#","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":780,"y":80,"wires":[["84b015c09bef9e2e"]]},{"id":"84b015c09bef9e2e","type":"debug","z":"d06c03683c8f23dd","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":80,"wires":[]},{"id":"9dc5af4ebdd9b993","type":"ui_text_input","z":"f51036664c185fe8","name":"","label":"Temperature setpoint","tooltip":"","group":"4d345fdd77f627d3","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":160,"y":80,"wires":[["f44a9fdd4c8c118b"]]},{"id":"d3d0100e13be6950","type":"ui_button","z":"f51036664c185fe8","name":"","group":"4d345fdd77f627d3","order":2,"width":0,"height":0,"passthru":false,"label":"Start process","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":120,"wires":[["84904cd60eebe3e1"]]},{"id":"f44a9fdd4c8c118b","type":"mqtt out","z":"f51036664c185fe8","name":"","topic":"opc/setpoint","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fbfccfedab8a01e","x":450,"y":80,"wires":[]},{"id":"84904cd60eebe3e1","type":"mqtt out","z":"f51036664c185fe8","name":"","topic":"opc/start_command","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7fbfccfedab8a01e","x":470,"y":120,"wires":[]},{"id":"4404bc7d42824aa6","type":"mqtt in","z":"f51036664c185fe8","name":"","topic":"opc/status","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":300,"wires":[["7b6927052f3cb9c7"]]},{"id":"7b6927052f3cb9c7","type":"ui_text","z":"f51036664c185fe8","group":"123c5cc61dd7f41e","order":1,"width":0,"height":0,"name":"","label":"Status: ","format":"{{msg.payload.value}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":440,"y":300,"wires":[]},{"id":"e65fb065f7b76672","type":"mqtt in","z":"f51036664c185fe8","name":"","topic":"opc/temperature","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":340,"wires":[["e723fd97945b397a"]]},{"id":"e723fd97945b397a","type":"ui_text","z":"f51036664c185fe8","group":"123c5cc61dd7f41e","order":2,"width":0,"height":0,"name":"","label":"Temperature: ","format":"{{msg.payload.value}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":450,"y":340,"wires":[]},{"id":"d01cd0a7f8defb85","type":"mqtt in","z":"f51036664c185fe8","name":"","topic":"opc/#","qos":"2","datatype":"auto-detect","broker":"7fbfccfedab8a01e","nl":false,"rap":true,"rh":0,"inputs":0,"x":710,"y":80,"wires":[["67a757906f480e4b"]]},{"id":"67a757906f480e4b","type":"debug","z":"f51036664c185fe8","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":80,"wires":[]},{"id":"ded913162c941d27","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]